

/* Section 1 responsivenes and styling */
.sec-1-main{
    display: flex;
}

@media(max-width:1279px){
    .sec-1-main{
        display: block;
    }

    .jubilee{
        display: none;
    }
}



/* Section 3 responsiveness */
.sec-3-main{
   display: flex;
   gap: 28px;
   width: 32%;
}

@media(max-width:767px){
    .sec-3-main{
        display: block;
        width: 100%;
    }

    .img-1{
        margin-bottom: 20px;
    }
}

